#message{
    display: inline;
}

body{
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	color: white;
}
#TextDisplay{
	display: block;
	position: absolute;
	height: 40px;
	width: 100%;
	background-color: transparent;
	color: white;
}
#clickMe{
	text-align: center;
	background-color: transparent;
	position: absolute; 
	height: 100%; 
	width: 100%
}